<h4>
    If you are deleting your account, you will not be able to regain access to your account again. Most
    personally identifiable information will be removed from our database.
</h4>

<div>Your favorite season is: <b>{{selectedReason}}</b></div>

<mat-radio-group aria-labelledby="reason-radio-group-label" class="reason-radio-group" [(ngModel)]="selectedReason">
    <mat-radio-button class="reason-radio-button" *ngFor="let season of seasons" [value]="season">
        {{season}}
    </mat-radio-button>
</mat-radio-group>

<!-- reason  -->
<mat-hint>ENTER CURRENT PASSWORD</mat-hint>
<mat-form-field appearance="outline">
    <input matInput>
</mat-form-field>