<section class="scroll">
    <mat-nav-list appAccordion>
        <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" group="{{menuitem.state}}"
            routerLinkActive="selected">
            <a class="link-white" appAccordionToggle [routerLink]="['/', menuitem.state]"
                *ngIf="menuitem.type === 'link'" (click)="onClickLink()">
                <mat-icon>{{ menuitem.icon }}</mat-icon>
                <span>{{ menuitem.name }}</span>
                <span fxFlex></span>
                <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            </a>
        </mat-list-item>
    </mat-nav-list>
</section>