@import "./../../../shared/scss/colors";

.mat-card {
  padding: 15px !important;
  border-radius: 15px;
}

.access-control {
  padding: 15px;

  p {
    color: $o-dark-gray;
  }

  .roles-table {
    margin-top: 1em;
  }
}

.mat-menu-item:hover {
  border-left: 3px solid $o-dark-orange;
  background: none !important;
  padding-left: 13px;
}

table {
  width: 100%;
}
