<section>

    <div class="access-control">
        <h4>Agent Access Control List</h4>
        <p>
            Add new roles with customized permissions as per your requirement.
        </p>
        <button mat-raised-button color="primary" (click)="openRoleDialog()" class="o-add-btn">Add Role</button>

        <br>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 roles-table">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Role ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Role Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Created Time </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </div>


</section>


<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openRoleDialog()">
        <span>Edit</span>
    </button>
    <button mat-menu-item>
        <span>
            <app-confirm-deletion [dialogContent]="dialogContent" (confirm)="onConfirm($event)"></app-confirm-deletion>
        </span>
    </button>
</mat-menu>