@import "./../../../../shared/scss/colors";

::ng-deep .mat-dialog-container {
  padding: 10px;
  .mat-expansion-panel {
    background: none;
    border-radius: 0px;
    margin-bottom: 15px;
    box-shadow: none;
    border: none;

    .mat-expanded:focus {
      height: 49px !important;
    }

    mat-expansion-panel-header {
      color: $o-dark-orange;
      border: 1px solid grey;
    }
  }
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

::ng-deep mat-expansion-panel {
  background: none;
  color: green($color: #000000);
}
