<section>
    <h4>Add role</h4>
    <hr>


    <mat-form-field>
        <mat-label>Role name</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-accordion>
        <!-- Task permissions -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Task permissions
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list role="list" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
                <mat-list-item role="listitem">
                    <div fxFlex="50">
                        <b>Permissions</b>
                    </div>
                    <div fxFlex="50">
                        <b>Status</b>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <div fxFlex="50">
                        Create Task
                    </div>
                    <div fxFlex="50">
                        <mat-slide-toggle></mat-slide-toggle>
                    </div>
                </mat-list-item>

            </mat-list>
        </mat-expansion-panel>
        <!-- profile permissions -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Profile permissions
                </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list role="list" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
                <mat-list-item role="listitem">
                    <div fxFlex="50">
                        <b>Permissions</b>
                    </div>
                    <div fxFlex="50">
                        <b>Status</b>
                    </div>
                </mat-list-item>

                <mat-divider></mat-divider>

                <mat-list-item>
                    <div fxFlex="50">
                        Update Profile
                    </div>
                    <div fxFlex="50">
                        <mat-slide-toggle></mat-slide-toggle>
                    </div>

                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>

    </mat-accordion>

    <br>

    <div fxLayout="row wrap" fxLayoutAlign="end start" fxLayoutGap="20px">
        <button mat-raised-button fxFlex="30" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" fxFlex="30" class="o-add-btn">Create</button>
    </div>
</section>