<section>

    <div class="notifications">
        <h4>Notifications
        </h4>

        <p>
            Send custom SMS's, emails and webhooks based on each trigger and customize the content by clicking on the
            pencil icon.
        </p>

        <h6>Pickup Notifications</h6>
        <table mat-table [dataSource]="pickupDataSource" class="mat-elevation-z8 custom-table">

            <ng-container matColumnDef="events">
                <th mat-header-cell *matHeaderCellDef> Events </th>
                <td mat-cell *matCellDef="let element"> {{element.events}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.email"></mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="sms">
                <th mat-header-cell *matHeaderCellDef> SMS </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.sms"></mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="webhooks">
                <th mat-header-cell *matHeaderCellDef> Webhooks </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.webhooks"></mat-slide-toggle>
                </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <h6>Delivery Notifications</h6>
        <table mat-table [dataSource]="pickupDataSource" class="mat-elevation-z8 custom-table">

            <ng-container matColumnDef="events">
                <th mat-header-cell *matHeaderCellDef> Events </th>
                <td mat-cell *matCellDef="let element"> {{element.events}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.email"></mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="sms">
                <th mat-header-cell *matHeaderCellDef> SMS </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.sms"></mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="webhooks">
                <th mat-header-cell *matHeaderCellDef> Webhooks </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.webhooks"></mat-slide-toggle>
                </td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <br>
        <br>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ADDITIONAL NOTIFICATIONS
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="pickupDataSource" class="mat-elevation-z8 custom-table">

                    <ng-container matColumnDef="events">
                        <th mat-header-cell *matHeaderCellDef> Events </th>
                        <td mat-cell *matCellDef="let element"> {{element.events}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.email"></mat-slide-toggle>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="sms">
                        <th mat-header-cell *matHeaderCellDef> SMS </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.sms"></mat-slide-toggle>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="webhooks">
                        <th mat-header-cell *matHeaderCellDef> Webhooks </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.webhooks"></mat-slide-toggle>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>


        <br>
        <br>

        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ADDITIONAL NOTIFICATIONS
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="pickupDataSource" class="mat-elevation-z8 custom-table">

                    <ng-container matColumnDef="events">
                        <th mat-header-cell *matHeaderCellDef> Events </th>
                        <td mat-cell *matCellDef="let element"> {{element.events}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.email"></mat-slide-toggle>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="sms">
                        <th mat-header-cell *matHeaderCellDef> SMS </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.sms"></mat-slide-toggle>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="webhooks">
                        <th mat-header-cell *matHeaderCellDef> Webhooks </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.webhooks"></mat-slide-toggle>
                        </td>
                    </ng-container>


                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> Actions </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>

    </div>


</section>

<mat-menu #menu="matMenu">
    <button mat-menu-item>Edit</button>
</mat-menu>