@import "./../../../shared/scss/colors";

.notifications {
  padding: 15px;

  p {
    color: $o-dark-gray;
  }

  .custom-table {
    margin-top: 1em;
  }

  table th {
    font-weight: bold;
    font-size: medium;
    color: black;
  }

  table tr:nth-child(even) {
    background-color: $bg;
  }

  table tr:hover {
    background-color: $light-grey;
  }

  ::ng-deep mat-panel-title {
    color: $o-dark-orange;
    font-weight: bold;
  }

  .mat-elevation-z8 {
    box-shadow: none;
  }
}

.mat-menu-item:hover {
  border-left: 3px solid $o-dark-orange;
  background: none !important;
  padding-left: 13px;
}

table {
  width: 100%;
}
