<section>

    <div class="teams">
        <h4>Teams</h4>
        <p>
            Organize your Agent into logical groups to efficiently manage your field operations. You may group them on
            the
            basis of location, geography, type of service and so on and so forth.
        </p>
        <button mat-raised-button color="primary" (click)="openCreateTeamDialog()" class="o-add-btn">Add team</button>
    </div>

    <div fxLayout="row">
        <mat-card fxFlex="25%">
            <mat-card-title>
                Default team

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                    style="float: right;">
                    <mat-icon>more_horiz</mat-icon>
                </button>
            </mat-card-title>
            <mat-card-subtitle>
                ID: 12345
            </mat-card-subtitle>

            <mat-card-content>
                Content runs here
            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="25%">
            <mat-card-title>
                Default team

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                    style="float: right;">
                    <mat-icon>more_horiz</mat-icon>
                </button>
            </mat-card-title>
            <mat-card-subtitle>
                ID: 12345
            </mat-card-subtitle>

            <mat-card-content>
                Content runs here
            </mat-card-content>
        </mat-card>


        <mat-card fxFlex="25%">
            <mat-card-title>
                Default team

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                    style="float: right;">
                    <mat-icon>more_horiz</mat-icon>
                </button>
            </mat-card-title>
            <mat-card-subtitle>
                ID: 12345
            </mat-card-subtitle>

            <mat-card-content>
                Content runs here
            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="25%">
            <mat-card-title>
                Default team

                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                    style="float: right;">
                    <mat-icon>more_horiz</mat-icon>
                </button>
            </mat-card-title>
            <mat-card-subtitle>
                ID: 12345
            </mat-card-subtitle>

            <mat-card-content>
                Content runs here
            </mat-card-content>
        </mat-card>
    </div>

    <div fxLayout="row" fxLayoutAlign="end center">
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>

</section>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openCreateTeamDialog()">Edit</button>
    <button mat-menu-item>
        <app-confirm-deletion [dialogContent]="dialogContent" (confirm)="onConfirm($event)"></app-confirm-deletion>
    </button>
</mat-menu>