@import "./../../../shared/scss/colors";

.mat-card {
  padding: 15px !important;
  border-radius: 15px;
}

.teams {
  padding: 15px;

  p {
    color: $grey;
  }
}

.mat-menu-item:hover {
  border-left: 3px solid $o-dark-orange;
  background: none !important;
  padding-left: 13px;
}
