<section class="geo-fence" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <h4 fxFlex="100%">Add Geo-fence</h4>

    <form fxFlex="35%">

        <mat-form-field>
            <mat-label>NAME <span>*</span> </mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>DESCRIPTION</mat-label>
            <input matInput #input maxlength="50">
            <mat-hint align="end"><b>{{input.value?.length || 0}}</b> CHARACTERS LEFT/50</mat-hint>
        </mat-form-field>

        <div fxLayout="row wrap">
            <mat-form-field fxFlex="70%">
                <mat-label>Teams</mat-label>
                <mat-select>
                    <mat-option *ngFor="let team of teams" [value]="team.value">
                        {{team.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <p fxFlex="30%" fxAlign="end end">
                Entir Team <mat-checkbox [value]="entireTeam"></mat-checkbox>
            </p>

        </div>

        <mat-form-field>
            <mat-label>Agent</mat-label>
            <mat-select>
                <mat-option *ngFor="let team of teams" [value]="team.value">
                    {{team.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div fxLayout="row wrap">
            <mat-selection-list #selectedAgents>
                <mat-list-option *ngFor="let agent of agents">
                    {{agent}}
                </mat-list-option>
            </mat-selection-list>
        </div>

        <div fxLayout="row inline" fxLayoutAlign="end end" fxLayoutGap="20px">
            <button mat-raised-button fxFlex="50" (click)="cancel()">Cancel</button>
            <button mat-raised-button color="primary" fxFlex="50" class="o-add-btn">Save</button>
        </div>
    </form>

    <div id="map" fxFlex="60%"></div>
</section>