@import "../../../../shared/scss/colors";

.geo-fence {
  padding: 15px;

  form {
    padding: 20px;
    background-color: white;
    border: 1px solid $light-grey;
    margin-bottom: 5em;
  }

  #map {
    width: 100%;
    height: 500px;
    float: right;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: lightgray;
  }

  p {
    padding-left: 5px;
    padding-right: 5px;
  }

  .mat-list-base {
    display: contents;
  }
}
