<section class="activity">

    <h4>
        Account Logs
    </h4>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef> User </th>
            <td mat-cell *matCellDef="let element"> {{element.user}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="activityType">
            <th mat-header-cell *matHeaderCellDef> Activity Type </th>
            <td mat-cell *matCellDef="let element"> {{element.activityType}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date & Time </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>


        <ng-container matColumnDef="teams">
            <th mat-header-cell *matHeaderCellDef> Teams </th>
            <td mat-cell *matCellDef="let element"> {{element.teams}} </td>
        </ng-container>


        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role Name </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

</section>