<form fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px" fxLayoutGap.xs="0">

    <div fxFlex="50%">
        <mat-hint>SELECT DASHBOARD LANGUAGE</mat-hint>
        <mat-form-field appearance="outline">
            <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="dashboardLangCtrl">
            <mat-icon matSuffix>arrow_drop_down</mat-icon>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                    <span>{{state.name}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

    <div fxFlex="50%">
        <mat-hint class="m-t-10">SELECT TRACKING PANEL LANGUAGE</mat-hint>
        <mat-form-field appearance="outline">
            <input matInput aria-label="State" [matAutocomplete]="auto" [formControl]="trackingPanelCtrl">
            <mat-icon matSuffix>arrow_drop_down</mat-icon>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                    <span>{{state.name}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>

</form>