<form class="container">
    <div class="row">
        <div class="col-md-6">
            <mat-hint>ENTER CURRENT PASSWORD </mat-hint>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Current Password">
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-hint>ENTER NEW PASSWORD </mat-hint>
            <mat-form-field appearance="outline">
                <input matInput placeholder="New Password">
            </mat-form-field>
        </div>

        <div class="col-md-6">
            <mat-hint>CONFIRM PASSWORD </mat-hint>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Retype Password">
            </mat-form-field>
        </div>
    </div>

</form>