<form>
    <h4>Add team</h4>
    <mat-form-field appearance="legacy">
        <mat-label>Team name</mat-label>
        <input matInput placeholder="Team name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Set location accuracy for driver app</mat-label>
        <mat-select>
            <mat-option *ngFor="let type of types" [value]="type.value">
                {{type.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="tags-chip-list">
        <mat-chip-list #chipList aria-label="Tag selection">
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                (removed)="remove(tag)">
                {{tag.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Tags" [matChipInputFor]="chipList" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)">
            <mat-icon matTooltipPosition="above"
                matTooltip="Please insert comma separated values. These tags will be used to categorize your Team">
                help_outline</mat-icon>
        </mat-chip-list>
    </mat-form-field>

    <mat-form-field appearance="legacy">
        <mat-label>Team address</mat-label>
        <input matInput placeholder="Team address">
    </mat-form-field>

    <div mat-dialog-actions>
        <button mat-flat-button color="basic" (click)="cancel()" class="cancel-btn">Cancel</button>
        <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial
            class="confirm-btn o-add-btn">Create</button>
    </div>

</form>