<section>
    <p>
        Add Manager
    </p>

    <mat-divider></mat-divider>

    <form>
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="{{type}}">
            <mat-icon matSuffix (click)="togglePassword()">remove_red_eye</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Assign teams</mat-label>
            <mat-select multiple>
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Assign role</mat-label>
            <mat-select>
                <mat-option *ngFor="let type of types" [value]="type.value">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <div mat-dialog-actions>
            <button mat-flat-button color="basic" (click)="cancel()" class="cancel-btn">Cancel</button>
            <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial
                class="confirm-btn o-add-btn">Create</button>
        </div>

    </form>
</section>