<mat-accordion>
    <!-- basic info -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> Profile </mat-panel-title>
        </mat-expansion-panel-header>
        <app-basic-user-info></app-basic-user-info>
    </mat-expansion-panel>

    <!-- language section-->
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title> Change language </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <app-change-language></app-change-language>
        </div>
    </mat-expansion-panel>

    <!-- password section -->
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title> Change password </mat-panel-title>
        </mat-expansion-panel-header>

        <app-chanage-password></app-chanage-password>
    </mat-expansion-panel>

    <!-- delete section -->
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title> Delete account </mat-panel-title>
        </mat-expansion-panel-header>

        <app-delete-account></app-delete-account>
    </mat-expansion-panel>


</mat-accordion>