@import "./../../../shared/scss/_colors.scss";

.mat-expansion-panel {
  margin-top: 1em;
  border-radius: 0px;
  box-shadow: none;
}

mat-panel-title {
  color: $o-dark-orange;
  font-weight: 500;
  font-size: large;
}

.change-lang-form {
  width: 100%;
}

.select-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir="rtl"] .select-option-img {
  margin-right: 0;
  margin-left: 8px;
}
