<form [formGroup]="form" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">

    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-hint>FIRST NAME</mat-hint>
        <mat-form-field appearance="outline">
            <input matInput formControlName="firstName">
        </mat-form-field>
    </div>

    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-hint>LAST NAME</mat-hint>
        <mat-form-field appearance="outline">
            <input matInput formControlName="lastName">
        </mat-form-field>
    </div>

    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-hint>PHONE</mat-hint>
        <mat-form-field appearance="outline">
            <input matInput formControlName="phone">
        </mat-form-field>
    </div>


    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-hint>EMAIL</mat-hint>
        <mat-form-field appearance="outline">
            <input matInput type="email" formControlName="email">
        </mat-form-field>
    </div>


    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-hint>WHAT'S YOUR COMPANY NAME</mat-hint>
        <mat-form-field appearance="outline">
            <input matInput formControlName="companyName">
        </mat-form-field>
    </div>

    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-hint>WHAT'S YOUR COMPANY ADDRESS</mat-hint>
        <mat-form-field appearance="outline">
            <input matInput formControlName="companyAddress">
        </mat-form-field>
    </div>


    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-hint>COUNTRY</mat-hint>
        <mat-form-field appearance="outline">
            <input matInput formControlName="country">
        </mat-form-field>
    </div>

    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-hint>USER ID</mat-hint>
        <mat-form-field appearance="outline">
            <input matInput formControlName="userId" [disabled]="true">
        </mat-form-field>
    </div>

    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-hint>CUSTOMIZE AGENT TEXT AS</mat-hint>
        <mat-form-field appearance="outline">
            <input matInput formControlName="agentText">
        </mat-form-field>
    </div>

    <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
        <mat-hint>SELECT IMAGE TYPE</mat-hint>
        <mat-radio-group aria-labelledby="type-radio-group-label" class="type-radio-group" formControlName="imageType">
            <mat-radio-button class="type-radio-button" *ngFor="let type of types" [value]="type.value">
                {{type.name}}
            </mat-radio-button>
        </mat-radio-group>
    </div>

</form>