@import "./../scss/colors";

.cancel-btn,
.confirm-btn {
  border-radius: 25px;
  width: 150px;
  font-weight: 700;
}

.cancel-btn {
  color: black;
  background-color: $light-grey;
}

::ng-deep mat-dialog-container {
  overflow-x: hidden;
}

::ng-deep .mat-dialog-container {
  border-radius: 0px !important;
  overflow-x: hidden !important;
}
