<section fxLayout="column" fxAlignLayout="end end">
    <h1 mat-dialog-title fxFlex="100%">{{data.title}}</h1>

    <mat-divider></mat-divider>

    <div mat-dialog-content fxFlex="100%">
        <p>{{data.message}}</p>
    </div>

    <div mat-dialog-actions fxFlex="50%">
        <button mat-flat-button color="basic" (click)="cancel()" class="cancel-btn">{{data.cancelBtn}}</button>
        <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial
            class="confirm-btn">{{data.okayBtn}}</button>
    </div>
</section>