<section>

    <div class="manager">
        <h4>Manager</h4>

        <p>
            You can add managers so that they have the ability to create or edit the tasks. Multiple teams can be
            assigned to managers. Managers in-turn can manage unassigned tasks, permission to add drivers and assign
            them to tasks etc.
        </p>
        <button mat-raised-button color="primary" class="circle-btn" (click)="manageManagerDialog()">Add
            manager</button>
    </div>

    <br>

    <!-- filter -->
    <mat-form-field appearance="outline">
        <mat-label>
            <mat-icon matSuffix>search</mat-icon>
            Search Manager
        </mat-label>
        <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="teams">
            <th mat-header-cell *matHeaderCellDef> Teams </th>
            <td mat-cell *matCellDef="let element"> {{element.teams}} </td>
        </ng-container>


        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role Name </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Actions">
                    <mat-icon>more_horiz</mat-icon>
                </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

</section>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="manageManagerDialog()">Edit</button>
    <button mat-menu-item>
        <app-confirm-deletion [dialogContent]="dialogContent" (confirm)="onConfirm($event)"></app-confirm-deletion>
    </button>
</mat-menu>