<div class="main-container">

    <mat-toolbar color="primary" class="topbar telative">
        <button mat-icon-button (click)="onToggle()" value="sidebarclosed">
            <mat-icon>menu</mat-icon>
        </button>

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <b>
                    <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                </b>

                <span fxShow="false" fxShow.gt-xs>
                    <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">
                    <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">
                </span> </a>
        </div>
        <span fxFlex></span>
        <app-header></app-header>
    </mat-toolbar>

    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 0 : 0" (click)="closeSidebar()">
        <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" mode="over" fixedTopGap="0" [opened]="newStatus"
            [disableClose]="mobileQuery.matches">
            <app-sidebar></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content class="page-wrapper scroll">
            <div class="page-content">
                <router-outlet>
                    <app-spinner></app-spinner>
                </router-outlet>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>