@import "./../../../shared/scss/colors";

.geo-fence {
  padding: 0px 15px;

  p {
    color: $o-dark-gray;
  }

  form {
    padding: 5px;
    background-color: white;
  }

  #map {
    width: 100%;
    height: 500px;
    float: right;
  }

  ::ng-deep .mat-form-field-underline {
    background-color: lightgray;
  }
}
