<section class="geo-fence" fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="end end">
    <h4 fxFlex="100%">Add Geo-fence</h4>
    <p fxFlex="100%">
        Enable this option to automatically assign Task to your Agent. You can select the assignment logic that best
        suits your business needs.
    </p>

    <div fxFlex="100%">
        <button mat-raised-button color="primary" (click)="createGeoFence()" class="o-add-btn">Add Geo-Fence</button>
    </div>

    <div fxFlex="60%" fxFlex.xs="100%">
        <div id="map"></div>
    </div>
</section>