@import "~leaflet/dist/leaflet.css";
@import "./app/shared/scss/colors";

@font-face {
  font-family: Montserrat;
  src: url(assets/fonts/Montserrat-Regular.ttf);
}

* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.light-logo {
  height: 75px;
}

.mat-drawer-inner-container {
  background-color: #0c7b82;
  color: rgb(116, 116, 116);
}

.link-white {
  color: white;
}

.no-btn-style {
  border: none;
  border-radius: 0px;
  background: none;
  cursor: pointer;
  padding: 10px;
  padding-left: 0px;
}

.no-btn-style:hover {
  font-weight: 500;
}

::ng-deep .mat-dialog-container {
  border-radius: 0px !important;
  overflow-x: hidden !important;
}

// scroll
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: $o-dark-orange;
  border-radius: 5px;
}

::ng-deep .circle-btn {
  border-radius: 25px;
  border: none;
}

::ng-deep .mat-accordion {
  border-radius: 0px;
}

mat-paginator {
  background-color: $bg !important;
}

table {
  th {
    font-size: bo;
  }
}

.o-add-btn {
  background-color: $o-dark-orange !important;
}

h4 {
  font-size: 24px !important;
  font-weight: bold;
  color: $o-dark-orange;
}
