.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-container {
  background: $bodycolor;
}

html .page-wrapper {
  height: calc(100vh - 64px);
  .page-content {
    padding: 15px;
  }

  background-color: #fafafa;
}

.align-items-center {
  align-items: center;
}

.barchrt {
  .ct-series-a .ct-bar {
    stroke: $success;
  }
  .ct-series-b .ct-bar {
    stroke: $info;
  }
}

.piechart {
  .ct-series-a .ct-slice-donut {
    stroke: $info;
  }
  .ct-series-b .ct-slice-donut {
    stroke: $success;
  }
  .ct-series-c .ct-slice-donut {
    stroke: $purple;
  }
  .ct-series-d .ct-slice-donut {
    stroke: $light;
  }
  .ct-series-e .ct-slice-donut {
    stroke: $warning;
  }
}

.button-row button {
  margin-bottom: 5px;
  margin-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}
.pr-5 {
  padding-right: 5px;
}
