@import "./../../app/shared/scss/colors";

mat-sidenav {
  width: 240px;
  padding-top: 0px;
}

#snav {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  .mat-list-item {
    height: auto;
    &:hover {
      background: none;
    }

    .mat-list-item-content {
      display: block;
      padding: 0px;
      border-radius: 0px;

      a {
        border-radius: 0px !important;
      }

      &:hover {
        background: none;
        > a {
          color: $o-orange;
        }
      }
    }

    .mat-list-item-content:hover {
      background-color: rgb(44, 44, 44);
      color: white;
      border-left: 3px solid $o-orange;
    }

    a {
      font-weight: 600;
      height: 45px;
      padding: 0 10px;
      margin-bottom: 10px;
      align-items: center;
      display: flex;
      font-size: 16px;
      white-space: nowrap;
      color: #d6d6d6;
      mat-icon:not(.dd-icon) {
        margin-right: 8px;
      }

      a:hover,
      mat-icon:hover {
        background-color: grey;
        color: white;
      }

      mat-icon {
        color: rgb(212, 212, 212);
      }
      .dd-icon {
        font-size: 16px;
        width: 16px;
        transition: 0.2s ease-in;
        margin: 5px 0 5px 5px;
        height: 16px;
      }
    }
    &.selected > .mat-list-item-content > a {
      background: $o-dark-orange;
      border-radius: $radius;
      color: $white;

      mat-icon {
        color: $white;
      }
      .dd-icon {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
    }
    &.selected .sub-item .mat-list-item-content a.selected {
      background: transparent;
      color: $inverse;
      font-weight: 500;
    }
  }

  .mat-list-item a:hover {
    padding-left: 15px;
  }
}
.sidebar-closed #snav {
  &.mat-sidenav ~ .mat-drawer-content {
    margin-left: 0px !important;
  }
}

.mat-toolbar.mat-primary {
  background-color: $o-gray;
}
