<section>
    <div class="auto-allocation">
        <h4>Auto Allocation
            <mat-slide-toggle (change)="onChange($event)"></mat-slide-toggle>
        </h4>

        <p>
            Enable this option to automatically assign Task to your Agent. You can select the assignment logic that best
            suits your business needs.
        </p>

        <h6>
            Select a method to auto-allocate the tasks
        </h6>

        <mat-button-toggle-group #group="matButtonToggleGroup" (change)="onChangeMethod($event)">
            <mat-button-toggle value="oneByOne" aria-label="Text align left" [disabled]="isDisabledOne"
                [ngClass]="(!isDisabledOne && selectedMehtod === 'oneByOne')? 'active-method' :''">
                <img src="assets/images/auto/one-by-one.png">
                <h5>
                    One By One
                    <mat-checkbox [checked]="!isDisabledOne && selectedMehtod === 'oneByOne'" [disabled]="true">
                    </mat-checkbox>
                </h5>
            </mat-button-toggle>
            <mat-button-toggle value="nestedAvailable" aria-label="Text align center" [disabled]="isDisabledTwo"
                [ngClass]="(!isDisabledOne && selectedMehtod === 'nestedAvailable')? 'active-method' :''">
                <img src="assets/images/auto/nearest-available.png">
                <h5>
                    Nested Available
                    <mat-checkbox [checked]="!isDisabledTwo && selectedMehtod === 'nestedAvailable'" [disabled]="true">
                    </mat-checkbox>
                </h5>
            </mat-button-toggle>
        </mat-button-toggle-group>

        <p>
            Sends the task request notification to the Agent nearest to the task Location. If the Agent doesn’t accept
            the task within the request expiry time, the task request is sent to the next nearest Agent. If no Agent
            accepts the task, it remains unassigned.
        </p>

        <section>
            <form class="form" *ngIf="selectedMehtod === 'oneByOne' || selectedMehtod === 'nestedAvailable' ">
                <div *ngIf="selectedMehtod === 'oneByOne'" fxLayout="row wrap" fxLayout.lt-sm="column"
                    fxLayoutGap="32px" fxLayoutAlign="flex-start">

                    <mat-form-field appearance="legacy" fxFlex="0 1 calc(50% - 32px)"
                        fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.xs="100%">
                        <mat-label>REQUEST EXPIRES IN SEC</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field appearance="legacy" fxFlex="0 1 calc(50% - 32px)"
                        fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.xs="100%">
                        <mat-label>NUMBER OF RETRIES</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field appearance="legacy" fxFlex="0 1 calc(50% - 32px)"
                        fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.xs="100%">
                        <mat-label>START ALLOCATION BEFORE TASK TIME (IN MINUTES)</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>

                <div *ngIf="selectedMehtod === 'nestedAvailable'" fxLayout="row wrap" fxLayout.lt-sm="column"
                    fxLayoutGap="32px" fxLayoutAlign="flex-start">

                    <mat-form-field appearance="legacy" fxFlex="0 1 calc(50.3% - 32px)"
                        fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.xs="100%">
                        <mat-label>RADIUS KM</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field appearance="legacy" fxFlex="0 1 calc(50.3% - 32px)"
                        fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.xs="100%">
                        <mat-label>START ALLOCATION BEFORE TASK TIME (IN MINUTES)</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </form>
        </section>

    </div>
</section>