@import "./../../../shared/scss/colors";

.auto-allocation {
  padding: 0px 15px;

  p {
    color: $o-dark-gray;
  }

  .mat-button-toggle {
    max-height: 225px;

    h5 {
      margin: 0px;
    }
  }

  .mat-button-toggle-group {
    border: none;
  }

  .active-method {
    background-color: white;
    border: 1px solid grey;
    border-left: 5px solid $o-dark-orange;
  }

  mat-button-toggle {
    margin-right: 1em;
    img {
      height: 200px;
      width: 500px;
    }
  }

  ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $o-dark-orange;
  }

  ::ng-deep mat-accent mat-checkbox-checked {
    background-color: $o-dark-orange;
  }

  section {
    padding-top: 2em;
    padding-bottom: 5em;
  }

  .form {
    background-color: white;
    border-radius: 25px;
    padding: 15px;
  }
}
